[Desktop Entry]
_Name=UBcards
_Comment=Loyality cards based on QR/barcodes
Exec=ubcards
Icon=graphics/ubcards.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Color=#FFFFFF
Keywords=qr;QR;scan;bar;code;barcode;wallet;card;cards
